{% extends 'base.html.twig' %}

{% block title %}Hello Show - StagiaireController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}!</h1>
    <div class="spacer">
        
    </div>
    
    <div class="card mx-auto p-2" style="width: 50%;">
        <div class="card-title">
            <h2 class="text-center">Fiche Stagiaire</h2>
        </div>
        <div class="card-body">
            <h3 class="text-center">{{stagiaire}}</h3>
            <p>
                Sexe: {{stagiaire.sexe}}<br>
                Date de Naissance: {{stagiaire.dateNaissance | date("d/m/Y")}} ({{stagiaire.age }})<br>
                Ville: {{stagiaire.ville}}<br>
                Courriel: {{stagiaire.email}}<br>
                Téléphone: {{stagiaire.telephone}}
            </p>
            <h3 class="text-center">Inscrit à la session suivante</h3>
            <div class="list-group">
                {% for session in stagiaire.sessions %}
                    <a class="list-group-item" href="{{ path('show_session', {'id' : session.Id} ) }}">{{session}}</a>
                {% endfor %}
            </div>

        </div>
    </div>

</div>
{% endblock %}
